<style>

</style>

<section class="py-12 bg-white sm:py-16 lg:py-20">
    <div class="px-4 mx-auto max-w-7xl sm:px-6 lg:px-8">
        <div class="grid items-center max-w-4xl grid-cols-1 mx-auto lg:grid-cols-2 gap-x-16 gap-y-12">
            <div>
                <div class="max-w-lg mx-auto text-center lg:text-left lg:max-w-none lg:mx-0">
                    <h2 class="text-sm font-bold tracking-wide uppercase text-rose-500">Final Year Project</h2>
                    <p class="mt-4 text-5xl font-bold text-gray-900 md:text-6xl">USER DASHBOARD</p>
                    <p class="mt-6 text-lg font-medium text-gray-600">Student Project Id Card.</p>
                </div>

                <div class="flex items-start max-w-xs mx-auto mt-12 lg:mt-28 lg:max-w-none lg:mx-0 gap-x-16">
                    <div>
                        <p class="text-base font-medium text-gray-500">Matric No</p>
                        <p class="mt-2 text-2xl font-bold text-gray-900">Ξ {{database?.user?.matricNo}}</p>
                    </div>

                    <div>
                        <p class="text-base font-medium text-gray-500">Faculty</p>
                        <p class="mt-2 text-2xl font-bold text-gray-900">Sciences</p>
                    </div>
                </div>
            </div>

            <div>
                <div
                    class="max-w-xs mx-auto overflow-hidden bg-white border border-gray-100 rounded-lg shadow-xl shadow-gray-500/10">
                    <div class="p-4">
                        <span
                            class="block w-full px-4 py-1.5 text-sm font-medium text-center text-white rounded-md bg-rose-500">
                            {{database?.user?.email}} </span>

                        <div class="mt-4 overflow-hidden rounded-lg aspect-w-1 aspect-h-1">
                            <img class="object-cover w-full h-full" src="https://i.imgur.com/1kg9kRP.png" alt="" />
                        </div>

                        <div class="flex items-center justify-between mt-4 space-x-6">
                            <p class="flex-1 text-base font-bold text-gray-900">Fullname - {{database?.user?.firstName}}
                                {{database?.user?.lastName}} </p>

                            <div class="text-right shrink-0">
                                <p class="text-sm font-medium text-gray-500">Current Level</p>
                                <p class="mt-0.5 text-lg font-bold text-rose-500">200</p>
                            </div>
                        </div>

                        <div class="flex items-center justify-between mt-4  gap-2 ">
                            <button type="button" @click="GenerateIdCard"
                                class="inline-flex items-center justify-center w-full px-4 py-3 text-xs font-bold tracking-widest text-gray-900 uppercase transition-all duration-200 bg-transparent border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-900 hover:border-gray-900 hover:bg-gray-900 hover:text-white">
                                Generate Id Card
                            </button>

                            <button @click="Logout" type="button"
                                class="inline-flex items-center justify-center w-full px-4 py-3 text-xs font-bold tracking-widest text-white uppercase transition-all duration-200 bg-gray-900 border border-transparent rounded-lg focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-900 hover:bg-gray-700">
                                Log Out
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<q-dialog v-model="dialog">
    <div class="w-[99%] overflow-hidden relative min-h-[210px] bg-white">


        <q-card-section v-if="cardView"
            class="card flex justify-center bg-[#333544] min-h-[210px] relative items-center gap-2 front">

            <div
                class="bottom_design absolute flex justify-between items-center px-4 bottom-[-4px] left-0 bg-white w-full py-1">
                <p>Expires: 12 November, 2024</p>
                <div class="flex gap-1">
                    <div v-for="i in 15" :key="i" class="w-1 bg-black h-4"></div>
                </div>
            </div>

            <div class="flex justify-between items-center w-full">
                <div class="flex flex-col ">
                    <p class="text-white font-bold text-xl">Student</p>
                    <div class="bg-orange w-full">
                        <p class="font-bold text-lg">{{database?.user?.firstName}} {{database?.user?.lastName}}</p>

                    </div>
                    <p class="text-white font-bold text-lg">Dept: Computer Science</p>
                    <p class="text-white font-bold">Matric No: {{database?.user?.matricNo}} </p>

                </div>

                <div class="p-2 bg-white">
                    <img width="100" class="object-cover w"
                        src="https://cdn.rareblocks.xyz/collection/clarity/images/team/2/team-member-1.png" alt="">
                </div>

                <div class="absolute pt-2 flex justify-center items-center top-0 left-0 w-full ">
                    <img class="" width="60" src="https://i.imgur.com/osjBBbm.png" alt="">
                </div>


            </div>



            <!-- <img width="120" class=" rounded-xl"
                src="https://cdn.rareblocks.xyz/collection/clarity/images/team/2/team-member-1.png" alt="" />

            <div class="flex flex-col justify-start items-start gap-2">
                <p class="font-bold">Fullname: <span class="font-semibold text-slate-700">{{database?.user?.firstName}}
                {{database?.user?.lastName}}</span> </p>
                <p class="font-bold">Email: <span class="font-semibold text-slate-700">{{database?.user?.email}}</span> </p>
                <p class="font-bold">Age: <span class="font-semibold text-slate-700">{{database?.user?.age}}</span> </p>
                <p class="font-bold">Matric No: <span class="font-semibold text-slate-700">{{database?.user?.matricNo}}</span> </p>
                <p class="font-bold">Date of birth: <span class="font-semibold text-slate-700">{{database?.user?.dob}}</span> </p>

            </div> -->

        </q-card-section>

        <q-card-section v-else class="card back h-full flex flex-col justify-center items-center gap-3">
            <img id='barcode'
                :src="`https://api.qrserver.com/v1/create-qr-code/?data=${database?.user?.matricNo}&amp;size=150x150`"
                alt="" title="HELLO" width="100" height="100" />

            <p>{{database?.user?.matricNo}}</p>
            <p class="font-bold">Email: <span class="font-semibold text-slate-700">{{database?.user?.email}}</span> </p>
        </q-card-section>
        <i @click="cardView = !cardView; Notify(cardView ? 'Front View' : 'Back View', 'positive')"
            class="fa-solid absolute text-white top-1 right-5 font-bold hover:bg-black hover:shadow-md hover:rounded-md p-1 z-10  fa-repeat"></i>
    </div>
</q-dialog>
<q-dialog persistent v-model="loader">
    <q-card>
        <div class="flex flex-col py-4 px-2 justify-center items-center gap-4">
            <lord-icon src="https://cdn.lordicon.com/rqptwppx.json" trigger="loop" state="loop-cycle"
                style="width:250px;height:150px">
            </lord-icon>
            <p>Generating Id Card.....</p>
            <p>Please Wait.</p>

        </div>
    </q-card>
</q-dialog>
