<section class="py-12 bg-gray-50 min-h-[90vh] sm:py-16 lg:py-20">
    <div class="px-4 mx-auto max-w-7xl sm:px-6 lg:px-8">
        <div class="relative max-w-md mx-auto lg:max-w-lg">
            <div class="absolute -inset-2">
                <div class="w-full h-full mx-auto rounded-3xl opacity-30 blur-lg filter"
                    style="background: linear-gradient(90deg, #44ff9a -0.55%, #44b0ff 22.86%, #8b44ff 48.36%, #ff6644 73.33%, #ebff70 99.34%)">
                </div>
            </div>

            <div class="relative overflow-hidden bg-white shadow-xl rounded-xl">
                <div class="px-4 py-6 sm:px-8">
                    <div class="flex items-center justify-between">
                        <h1 class="text-xl font-bold text-gray-900 font-pj">Sign in</h1>

                        <p class="text-base font-normal text-gray-900 font-pj">Don’t have an account? <a @click="auth = 'register'"
                                title=""
                                class="font-bold rounded hover:underline focus:outline-none focus:ring-1 focus:ring-gray-900 focus:ring-offset-2">Join
                                now</a></p>
                    </div>

                    <form action="#" method="POST" class="mt-12">
                        <div class="space-y-4">
                            <div>
                                <label for="" class="text-base font-medium text-gray-900 font-pj"> Email </label>
                                <div class="mt-2.5">
                                    <input type="email" v-model="loginForm.username" name="" id="" placeholder="Email address"
                                        class="block w-full px-4 py-4 text-gray-900 placeholder-gray-600 bg-white border border-gray-400 rounded-xl focus:border-gray-900 focus:ring-gray-900 caret-gray-900" />
                                </div>
                            </div>

                            <div>
                                <div class="flex items-center justify-between">
                                    <label for="" class="text-base font-medium text-gray-900 font-pj"> Password </label>

                                    <a href="#" title=""
                                        class="text-base font-medium text-gray-500 rounded font-pj hover:text-gray-900 hover:underline focus:outline-none focus:ring-1 focus:ring-gray-900 focus:ring-offset-2">
                                        Forgot Password? </a>
                                </div>
                                <div class="mt-2.5">
                                    <input type="password" v-model="loginForm.password" name="" id="" placeholder="Password (min. 8 character)"
                                        class="block w-full px-4 py-4 text-gray-900 placeholder-gray-600 bg-white border border-gray-400 rounded-xl focus:border-gray-900 focus:ring-gray-900 caret-gray-900" />
                                </div>
                            </div>

                            <div class="relative flex items-center mt-4">
                                <div class="flex items-center h-5">
                                    <input type="checkbox" name="terms" id="terms"
                                        class="w-5 h-5 text-gray-900 border-gray-300 rounded focus:ring-gray-900" />
                                </div>

                                <div class="ml-3 text-base">
                                    <label for="terms" class="font-normal text-gray-900 font-pj"> Remember me </label>
                                </div>
                            </div>
                        </div>

                        <q-btn  @click="Login" :disable="!isValid"
                            class="flex items-center justify-center w-full px-8 py-4 mt-5 text-base font-bold text-white transition-all duration-200 bg-gray-900 border border-transparent rounded-xl focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-900 font-pj hover:bg-gray-600">
                            Sign in
                        </q-btn>
                    </form>

                    
                </div>
            </div>
        </div>
    </div>
</section>
